body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(255, 234, 211);
    height: 100vh;
    padding-bottom: 100px;
}

#title {
    text-align: center;
    font-family: "Afacad Flux";
    font-size: 60px;
}

#titlebar {
    background-color: rgb(255, 244, 233);
    padding: 0.5em;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 5px rgb(236, 217, 197) outset;
    border-radius: 50px;
}

#enternew {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.itembox {
    margin: auto;
    margin-top: 50px;
    width: 950px;
    height: 200px;
    border: 5px outset;
    border-color: rgb(236, 217, 197);
    border-radius: 50px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.itembox:hover {
    transform: scale(1.1);
}

.boximg {
    float: left;
    height: 100%;
    width: 200px;
    object-fit: cover;
}

.boxcontent {
    height: 100%;
    width: 78.9%;
    float: right;
    position: relative;
    background-color: rgb(253, 246, 239);
}

.boxtitle {
    font-family: "Afacad Flux";
    font-size: 60px;
    position: absolute;
    top: 25px;
    left: 50px;
    margin: 0;
}

.percentage-circle {
    width: 170px;
    height: 170px;
    background: conic-gradient(
        rgb(87, 255, 87) 0% calc(var(--percentage) * 1%),
        white calc(var(--percentage) * 1%) 100%
    );
    border-radius: 100px;
    border: 0.5px gray solid;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    transition: transform 0.3s ease;
    position: relative;
    --percentage: 0;
}

.innercircle {
    font-family: "Afacad Flux";
    line-height: 130px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 19px;
    border: 0.5px gray solid;
    width: 130px;
    height: 130px;
    background-color: rgb(253, 246, 239);
    border-radius: 50%;
    position: relative;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text1 {
    font-size: 25px;
    transition: transform 0.1s ease-out;
}

.text2 {
    position: absolute;
    font-size: 50px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.percentage-circle:hover {
    transform: scale(1.1);
}

.percentage-circle:hover .text1 {
    transform: translateY(25%) scale(0.75);
}

.percentage-circle:hover .text2 {
    opacity: 1;
}

.persistent-animation {
    animation: gradientAnimation 0.2s ease-out forwards;
}

.lowering_anim {
    animation: lowertext 0.1s ease-out forwards;
}

@keyframes gradientAnimation {
    0% {
        background: conic-gradient(
        rgb(50, 172, 50) calc(var(--percentage)*1%/8),
        rgb(87, 255, 87) calc((var(--percentage)*1%/8)*2) calc(var(--percentage)*1%),
        white calc(var(--percentage)*1%) 100%
        );
    }
    14% {
        background: conic-gradient(
            rgb(50, 172, 50) calc((var(--percentage)*1%/8)*2),
            rgb(87, 255, 87) calc((var(--percentage)*1%/8)*3) calc(var(--percentage)*1%),
            white calc(var(--percentage)*1%) 100%
        );
    }
    28% {
        background: conic-gradient(
            rgb(50, 172, 50) calc((var(--percentage)*1%/8)*3),
            rgb(87, 255, 87) calc((var(--percentage)*1%/8)*4) calc(var(--percentage)*1%),
            white calc(var(--percentage)*1%) 100%
        );
    }
    42% {
        background: conic-gradient(
            rgb(50, 172, 50) calc((var(--percentage)*1%/8)*4),
            rgb(87, 255, 87) calc((var(--percentage)*1%/8)*5) calc(var(--percentage)*1%),
            white calc(var(--percentage)*1%) 100%
        );
    }
    56% {
        background: conic-gradient(
            rgb(50, 172, 50) calc((var(--percentage)*1%/8)*5),
            rgb(87, 255, 87) calc((var(--percentage)*1%/8)*6) calc(var(--percentage)*1%),
            white calc(var(--percentage)*1%) 100%
        );
    }
    70% {
        background: conic-gradient(
            rgb(50, 172, 50) calc((var(--percentage)*1%/8)*6),
            rgb(87, 255, 87) calc((var(--percentage)*1%/8)*7) calc(var(--percentage)*1%),
            white calc(var(--percentage)*1%) 100%
        )

    }
    84% {
        background: conic-gradient(
            rgb(50, 172, 50) calc((var(--percentage)*1%/8)*7),
            rgb(87, 255, 87) calc(var(--percentage)*1%),
            white calc(var(--percentage)*1%) 100%
        );
    }
    100% {
        background: conic-gradient(
            rgb(50, 172, 50) 0% calc(var(--percentage)*1%),
            white calc(var(--percentage)*1%) 100%
        );
    }
}

.actionsbox {
    width: 48%;
    height: 25%;
    border: 1px solid black;
    top: 140px;
    left: 70px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.addbutton {
    position: absolute;
    left: 0px;
    line-height: 50px;
    font-family: "Afacad Flux";
    font-size: 20px;
    background-color: white;
    border: 1px groove;
    transition: transform 0.1s ease-out;
}

.addbutton:hover {
    transform: scale(1.05);
}

.removebutton {
    position: absolute;
    left: 110px;
    line-height: 50px;
    font-family: "Afacad Flux";
    font-size: 20px;
    background-color: white;
    border: 1px groove;
    transition: transform 0.1s ease-out;
}

.removebutton:hover {
    transform: scale(1.05);
}

.finishbutton {
    position: absolute;
    right:0px;
    line-height: 50px;
    width: 105px;
    font-family: "Afacad Flux";
    font-size: 20px;
    background-color: rgb(207, 0, 0);
    border: 0px;
    transition: transform 0.1s ease-out;
}

.finishbutton:hover {
    transform: scale(1.05);
}
